{
  "extends": "airbnb",
  "plugins": [
    "mocha"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "space-in-parens": ["error", "always"],
    "global-require": 0,
    "prefer-template": 0,
    "new-cap": 0,
  }
}
